{{if .Content}}{{.Content}}
{{else}}# {{.Title}}
{{with .Summary}}
{{.}}
{{end}}{{if .Contexts}}
## 上下文
{{range .Contexts}}
{{.}}
{{end}}{{end}}{{end}}{{if .Scripts}}
## 脚本
{{range .Scripts}}
- `{{.}}`
{{end}}{{end}}
